@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-font: "Jost", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --primary-text: 16px;
  --heading-text: 128px;
  --subheading-text: 28px;
  --bg-color: #e6e5e2;
  --primary-color: #5c554b;
  --secondary-color: #eb5228;
  --tertiary-color: #a7c2c9;
  --primary-shadow: #5c554b;
  --line-height: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
body {
  color: var(--primary-color);
  font-size: var(--primary-text);
  font-weight: 400;
  letter-spacing: -5%;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}

/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2.25rem; /* top-bottom right-left */
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  margin-bottom: 45px;
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.links .nav-link:active, .nav-link:focus {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}

/* Footer */
.footer-container {
  align-items: center;
  background-color: var(--tertiary-color);
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 25px 33px;
  position: relative;
}
.footer-container .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer-container p {
  font-size: 14px;
  font-style: italic;
}
#back-to-top {
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}

/* Hero */
.hero-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 5rem;
}
.hero-container .hero-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
}
.hero-container .hero-name h3 {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: var(--subheading-text);
  font-weight: 500;
  margin-bottom: -2rem;
}
.hero-container .hero-name h1 {
  color: var(--secondary-color);
  font-size: var(--heading-text);
  letter-spacing: -5px;
}
.hero-container .under-name {
  border: 1px solid var(--tertiary-color);
  width: 670px;
  margin-top: -2rem;
  margin-right: 13rem;
}
.hero-container .hero-roles {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.hero-container .hero-roles p {
  font-size: var(--subheading-text);
}
.hero-container hr {
  border: 0.5px solid var(--primary-color);
  width: 60px;
  margin: 2rem;
}
.hero-container h4 {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.hero-container .desc {
  font-family: var(--secondary-font);
  font-weight: 500;
}
.hero-container .quip {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 12px;
}

/* Design Projects */
.designs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10rem;
  margin-left: 5.5rem;
  margin-right: 5.5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.designs-container .left-column {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  gap: 55px;
}
.designs-container .right-column {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-top: 5rem;
  gap: 55px;
}
.designs-container .design-card {
  display: flex;
  justify-content: start;
  align-content: start;
  flex-direction: column;
}
.design-card .design-image {
  width: 100%;
  border: 1px solid var(--primary-color);
}
.design-card .design-image:hover {
  border: 1px solid var(--secondary-color);
  color: var(--bg-color);
  opacity: 85%;
  box-shadow: 5px 5px 10px var(--primary-color);
}
.designs-container .design-card p {
  color: var(--primary-color);
  font-size: var(--primary-text);
  font-style: italic;
  margin-top: 7px;
}

/* More Bar */
.more-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  height: 65px;
  padding-left: 35rem;
  padding-right: 35rem;
}
.more-container a {
  color: var(--bg-color);
}
.more-container a:hover {
  font-style: italic;
  border-bottom: 1px solid var(--bg-color);
}

/* Contact */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8.5rem;
}
.contact-container hr {
  border: 0.5px solid var(--primary-color);
  margin: 3rem;
  width: 60px;
}
.contact-container h2 {
  font-size: var(--subheading-text);
  font-style: italic;
}
.contact-container .contact-items {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 85px;
}
.contact-container .contact-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.contact-container .contact-column a {
  font-size: var(--primary-text);
  color: var(--primary-color);
}
.contact-container .contact-column a:hover {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}

/* About Images */
.about-images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.about-images .ny-img {
  grid-column: 1 / span 100;
  grid-row: 1;
  border: 1px solid var(--primary-color);
  margin-bottom: -25%;
  margin-left: -10%;
}
.about-images .jp-img {
  grid-column: -1;
  z-index: 1;
  border: 1px solid var(--primary-color);
  margin-left: 14%;
}

/* About Page */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem;
  margin-top: 7rem;
  margin-left: 11rem;
}
.about-container .about-img {
  width: 100%;
  height: 100%;
  margin-right: 10rem;
  position: relative;
}
.about-img::before {
  content: "";
  width: 100%;
  height: 74%;
  top: 13%;
  position: absolute;
  border: 1px solid var(--primary-color);
}
.about-container .about-text {
  display: flex;
  justify-items: end;
  flex-direction: column; 
  max-width: 450px;
}
.about-text p {
  font-family: var(--secondary-font);
}
.about-text .hi-again {
  font-size: var(--subheading-text);
  font-style: italic;
  margin-bottom: -8px;
}
.about-text h3 {
  font-size: 48px;
  font-style: italic;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}