@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
  --font-family: "Baskervville", serif;
  --normal-font: 400;
  --bold-font: 700;
  --bg-color: #e6e5e2;
  --primary-color: #5c554b;
  --secondary-color: #eb5228;
  --tertiary-color: #a7c2c9;
  --primary-shadow: #5c554b;
  --line-height: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
body {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -5%;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}

/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2.25rem; /* top-bottom right-left */
  position: sticky;
  z-index: 1;
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.links .nav-link:active, .nav-link:focus {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}

/* Footer */
.footer-container {
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.25rem;
}
.footer-container p {
  font-style: italic;
}
#back-to-top {
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}