@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Baskervville", serif;
  --secondary-font: "Jost", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --primary-text: 18px;
  --heading-text: 128px;
  --title-text: 96px;
  --subheading-text: 48px;
  --subtitle-text: 32px;
  --bg-color: #e6e5e2;
  --primary-color: #5c554b;
  --secondary-color: #eb5228;
  --tertiary-color: #a7c2c9;
  --primary-shadow: #5c554b;
  --line-height: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--primary-font);
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}
body {
  color: var(--primary-color);
  font-size: var(--primary-text);
  font-weight: 400;
  letter-spacing: -5%;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}


/* Navbar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.25rem; /* top-bottom right-left */
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  margin-bottom: 45px;
  background: transparent;
  /* backdrop-filter: blur(10px); */
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
}
.links .nav-link {
  cursor: pointer;
}

/* Footer */
.footer-container {
  align-items: center;
  background-color: var(--tertiary-color);
  display: flex;
  height: 65px;
  justify-content: space-between;
  padding: 25px 33px;
  position: relative;
}
.footer-container .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer-container p {
  font-size: 14px;
  font-style: italic;
}
.footer-container .back-to-top {
  font-size: 14px;
  font-style: normal;
}
.footer-container .back-to-top:hover {
  font-style: italic;
  border-bottom: 1px solid var(--primary-color);
}


/* Hero */
.hero-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 0.5%;
  margin: 5%;
}
.hero-container .hero-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.hero-container .hero-name h3 {
  font-family: var(--secondary-font);
  font-style: italic;
  font-size: var(--subtitle-text);
  font-weight: 500;
  margin-bottom: -2rem;
}
.hero-container .hero-name h1 {
  color: var(--secondary-color);
  font-size: var(--heading-text);
  letter-spacing: -5px;
}
.hero-container .under-name {
  border: 1px solid var(--tertiary-color);
  width: 670px;
  margin-top: -2%;
  margin-right: 13%;
}
.hero-container .hero-roles {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.hero-container .and {
  font-style: italic;
}
.hero-container .hero-roles p {
  font-size: var(--subtitle-text);
}
.hero-container hr {
  border: 0.5px solid var(--primary-color);
  width: 60px;
  margin: 1.5rem;
}
.hero-container h4 {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.hero-container .desc {
  font-family: var(--secondary-font);
  font-weight: 500;
}
.hero-container .quip {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 12px;
}


/* Design Projects */
.project-container {
  margin: 7rem 5rem 0;
}
/* styles for self-made masonry
.project-container .left-column {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  gap: 55px;
}
.project-container .right-column {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-top: 5rem;
  gap: 55px;
}
*/
.project-container .project-card {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}
.project-card .project-image {
  width: 100%;
  border: 1px solid var(--primary-color);
}
.project-card .project-image:hover {
  border: 1px solid var(--secondary-color);
  color: var(--bg-color);
  opacity: 50%;
  box-shadow: 5px 5px 10px var(--primary-color);
}
.project-container .project-card p {
  color: var(--primary-color);
  font-size: var(--primary-text);
  font-style: italic;
  margin-top: 7px;
}


/* More Bar */
.more-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--secondary-color);
  height: 65px;
  padding-right: 5.5rem;
  margin: 7rem 0;
}
.more-container a {
  color: var(--bg-color);
  border-bottom: 1px solid var(--bg-color);
}
.more-container a:hover {
  font-style: italic;
}


/* Resumes Dropdown */
.resumes-container .resumes-list {
  line-height: 110%;
  position: absolute;
}
.resumes-list .resume-link {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 14px;
}
/* Contact */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 11%;
}
.contact-container hr {
  border: 0.5px solid var(--primary-color);
  margin: 3rem;
  width: 60px;
}
.contact-container h2 {
  font-size: var(--subheading-text);
  font-style: italic;
}
.contact-container .contact-items {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 85px;
}
.contact-container .contact-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.contact-column a {
  font-size: var(--primary-text);
  color: var(--primary-color);
}
.contact-column a:hover {
  color: var(--secondary-color);
  font-style: italic;
  border-bottom: 1px solid var(--secondary-color);
}
.contact-column .resumes {
  cursor: pointer;
}


/* About Images */
.about-images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
.about-images .left-img {
  grid-column: 1 / span 100;
  grid-row: 1;
  border: 1px solid var(--primary-color);
  margin-bottom: -25%;
  margin-left: -10%;
}
.about-images .right-img {
  grid-column: -1;
  z-index: 1;
  border: 1px solid var(--primary-color);
  margin-left: 14%;
}
/* About Page Social Icons */
.socials {
  display: flex;
  margin-top: 3rem;
}
.socials a:hover {
  border-bottom: 0px;
}
/* About Experiences Item */
.exp-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.exp-container .exp-title {
  display: flex;
  flex-direction: column;
}
.exp-title h3 {
  color: var(--bg-color);
  font-size: var(--subheading-text);
  font-style: italic;
}
.exp-title hr {
  color: var(--bg-color);
  width: 100%;
  margin-left: 30px;
}
.exp-container .exp-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  margin-top: 50px;
}
.exp-container p {
  color: var(--bg-color);
  font-family: var(--secondary-font);
  line-height: 2.5rem;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 768px) {
  .exp-container {
    flex-direction: column;
  }
  .exp-title hr {
    margin-left: 0;
  }
  .exp.container .exp-list {
    width: 100%;
  }
}
/* About Page */
.about-container {
  display: flex;
  flex-direction: column;
}
.about-container .about-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
  margin-top: 5%;
}
.about-intro .about-img {
  width: 100%;
  height: 50%;
  margin-right: 10rem;
  position: relative;
}
.about-img::before {
  content: "";
  width: 100%;
  height: 75%;
  top: 13%;
  position: absolute;
  border: 1px solid var(--primary-color);
}
.about-intro .about-text {
  display: flex;
  justify-items: end;
  flex-direction: column; 
  max-width: 45%;
}
.about-text p {
  font-family: var(--secondary-font);
}
.about-text .hi-again {
  font-size: var(--subtitle-text);
  font-style: italic;
  font-weight: 500;
  margin-bottom: -8px;
}
.about-text h3 {
  font-size: var(--subheading-text);
  font-style: italic;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 2rem;
}
.about-experience {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 100px;
  gap: 7rem;
}
@media screen and (max-width: 768px) {
  .about-intro {
    flex-direction: column;
  }
}


/* Works Page */
.work-container {
  display: flex;
  flex-direction: column;
}
.work-container .work-header {
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0 10%;
  margin: 5rem 0;
}
.work-header h1 {
  color: var(--secondary-color);
  font-size: var(--heading-text);
  font-style: italic;
  letter-spacing: -5px;
}
.work-header hr {
  border: 1px solid var(--tertiary-color);
  width: 100%;
  margin-left: 60px;
}
.work-header .work-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-left: -5px;
  width: 105%;
}
.work-desc p {
  font-family: var(--secondary-font);
  font-weight: 500;
}
.work-desc .work-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}
.work-filters button:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  font-style: italic;
}


/* Project Details Header -- title, year, description */
.title-container {
  display: flex;
  margin: 7rem;
  align-items: center;
  justify-content: space-around;
}
.title-container .title-img {
  width: 100%;
  border: 1px solid var(--primary-color);
}
.title-container .title-text {
  display: flex;
  flex-direction: column;
}
.title-text h1 {
  color: var(--secondary-color);
  font-style: italic;
  font-size: var(--title-text);
  max-width: 700px;
  letter-spacing: -5px;
  line-height: 100%;
}
.title-text hr {
  border: 1px solid var(--tertiary-color);
  margin-left: 3rem;
  width: 100%;
}
.title-text .title-year {
  align-self: flex-end;
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 14px;
  margin-top: 0;
  margin-right: -3rem;
}
.title-text p {
  font-family: var(--secondary-font);
  margin-top: 1.5rem;
  max-width: 620px;
  color: var(--primary-color);
}


/* Image Card -- for proj details reuse */
.image-card {
  display: flex;
  justify-items: flex-start;
  flex-direction: column;
}
.image-card .image-card-image {
  width: 100%;
  border: 1px solid var(--primary-color);
}
.image-card .image-card-image:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px var(--primary-color);
  color: var(--bg-color);
  opacity: 75%;
}
.image-card p {
  color: var(--primary-color);
  font-size: var(--primary-text);
  font-style: italic;
  margin-top: 7px;
  vertical-align: bottom;
}


/* Project Details Block */
.pd-container {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  padding: 3rem 0;
  margin-top: -3rem;
}
/* Project Details List Item -- role, tools, languages */
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-container h3 {
  font-size: var(--subheading-text);
  color: var(--bg-color);
  font-style: italic;
}
.list-container hr {
  border: 0.5px solid var(--bg-color);
  width: 100%;
  margin-left: 2rem;
  margin-top: -0.5rem;
}
.list-container .list-info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.list-info p {
  color: var(--bg-color);
  font-family: var(--secondary-font);
  margin-left: 1px;
}


/* Project Images -- for purely image pages */
.proj-imgs-container {
  display: flex;
  flex-direction: column;
  margin: 7rem 5rem;
}


/* Project Info -- Overview & Development */
.proj-subsec-container {
  display: flex;
  margin: 7rem;
  justify-content: space-between;
}
.proj-subsec-container .proj-subsec-img {
  height: 75%;
  border: 1px solid var(--primary-color);
}
.proj-subsec-container .proj-subsec-text {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.proj-subsec-text h2 {
  color: var(--secondary-color);
  font-style: italic;
  font-size: var(--subtitle-text);
}
.proj-subsec-text hr {
  border: 0.5px solid var(--tertiary-color);
  width: 97%;
  color: var(--tertiary-color);
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.proj-subsec-text p {
  color: var(--primary-color);
  font-family: var(--secondary-font);
}
